@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    /* font-size: 62.5%; */
    font-family: 'Poppins', sans-serif;
    background-color: #44475a;
    color: #f8f8f2;
}

.menu-icon img {
    width: 200px;
    height: auto;
    padding: 0.4em;
}

.top-menu {
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: #282a36	;
    color:  #f8f8f2;
    border: 2px solid #f1fa8c;
    justify-content: flex-start;
    width: 100%;
}

.menu-item {
    padding: 1em 2em 1em 2em;
    display: flex;
    width: 50%;
}

.menu-item a {
    text-decoration: none;
    color: #f1fa8c;
}

.admin-menu-item a {
    color: #f8f8f2;
    border-radius: 5px;
    background-color: #ff79c6;
    padding: 1em 2em 1em 2em;
}

table a {
    text-decoration: none;
}

table, th, td {
    border-collapse: collapse;
    text-decoration: none;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    font-weight: 300;
  }

th {
    background-color: #282a36;
    color: #ff79c6;
    font-weight: 400;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.button {
    background-color: #282a36;
    color: #f1fa8c;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 0.6em 1em 0.6em 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    margin : 0.5em;

}

.redbutton {
    color: #ff79c6;
}

.formtable input,
.formtable textarea {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.formtable table,
.formtable td,
.formtable th,
.formtable tr {
    border: none;
    padding: 0.4em 0.5em 0.4em 0.5em;
    font-size: 1em;

}

.formtable input {
    width: 50em;
}

.user-formtable input {
    width: 15em;
}

.formtable textarea {
    resize: none;
    height: 25em;
    width: 99%;

}

.artist-name {
    font-size: 2em;
    font-weight: 600;
    color: #ff79c6;
    background-color: #282a36;
}

.event-date {
    font-size: 1.6em;
    font-weight: 200;
    color: #f1fa8c;
    background-color: #282a36;
}

.light-text {
    font-weight: 300;
}

.content-accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-accueil img {
    width: 100%;
}


@media (max-width: 768px) {
    .top-menu {
        flex-wrap: wrap;
    }

    .menu-icon {
        flex-basis: 100%;
        max-width: 100%;
    }

    .menu-item {
        width: 50%;
        box-sizing: border-box;
        text-align: center;
        padding:  0.5em 1em 0.5em 1em;;
    }

    .content-accueil img {
        width: 100%;
    }

    .subcontent-accueil {
        flex: 0 0 100%;
    }

    .formtable input {
        width: 70vw;
    }
    
    .user-formtable input {
        width: 15em;
    }
    
    .formtable textarea {
        resize: none;
        height: 20em;
        width: 98%;
    }

    .table-with-borders td {
        border: 1px solid #f1fa8c;    
    }

}


@media (max-width:1280px) {
    .admin-menu-item {
        display: none;
    }
}

.content-accueil {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line on smaller screens */
    justify-content: space-between; /* Add space between items */
}

.subcontent-accueil {
    padding: 1em;
    display:flex;
}

.subcontent-accueil table td {
    border: 1px solid #f1fa8c;
}

.map {
    width: 90vw;
    height: 30vh;
}

.table-with-borders a {
    text-decoration: none;
}

.table-with-borders td {
    border-bottom: 1px solid #f1fa8c;
    padding: 0.1em;
}