{% extends "index.html" %}

{% block accueil %}
<div class="content-accueil">
    <div class="subcontent-accueil">
        <h2>Espace Django Strasbourg, salle de spectacles de musiques actuelles</h2>
    </div>
    <div class="subcontent-accueil">
    Musique, cinéma, expositions, jeune public, ateliers, résidences, pépinière, rencontre... <br/>Autant d’initiatives, dans/hors/entre nos murs, qui s’entrechoquent et se renforcent mutuellement pour vous enchanter et s’inviter pleinement dans votre quotidien.
    </div>
    <div class="subcontent-accueil">
        <img src="images/django_salle_cropped.jpg">
    </div>
    <div class="subcontent-accueil">
        Adresse : 4 Impasse Kiefer, 67100 Strasbourg Neuhof
    </div>
    <div class="subcontent-accueil">
        <table>
            <tr>
                <th rowspan="3">En transport en commun</th>
                <td>Tram C - arrêt Rodolphe Reuss (à 5 mètres de l'arrêt)</td>
            </tr>
            <tr>
                <td>Bus 24 - arrêt Neuhof Rodolphe Reuss</td>
            </tr>

            <tr>
                <td>Bus 40 depuis le parking relais Elsau vers Neuhof</td>
            </tr>

            <tr>
                <th rowspan="2">À vélo</th>
                <td>Pistes cyclables à proximité</td>
            </tr>
            <tr>
                <td>Arceaux à vélo devant la salle</td>
            </tr>
        </table>
        <br />
        </div>
    <div class="subcontent-accueil">
        <iframe class="map" style="filter: invert(90%)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24456.931036412014!2d7.75680040983945!3d48.55845345635225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c965db1556b7%3A0xa9816d04338b8500!2sEspace%20Django!5e0!3m2!1sfr!2sfr!4v1696976777623!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}